html,
body {
    margin: auto;
}

* {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

footer {
    background-color: #688f4e;
    color: #f4f1e9;
    padding: 10px;
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

/* BUTTON CSS */

#btnContainer {
    text-align: center;
    width: auto;
    height: auto;
}

.game {
    border: none;
    border-radius: 6px;
    color: #f4f1e9;
    display: inline-block;
    font-size: 16px;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
}

#quitGame {
    background-color: #DB636C;
}
#quitGame:hover{
    background-color: #FA707C;
    color: #fff;
}

#startGame {
    background-color: #688f4e;
}
#startGame:hover {
    background-color: #7FAD5F;
    color:#fff
}

.btnGame{
    background-color: #f4f1e9;
    border: 2px solid #688f4e;
    border-radius: 4px;
    color: #688f4e;
    display: inline-block;
    padding: 2px 10px;
    text-align: center;
    font-weight: bold;
}
.btnGame:hover{
    background-color: #688f4e;
    color: #f4f1e9;
}



#disableButton {
    color: red;
}

/* MAIN BODY */
h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #2b463c;
}

#stdntID {
    font-weight: bold;
}

#playAgainMessage {
    text-align: center;
    font-weight: bold;

}

#wrapper {
    font-family: helvetica, sans-serif;
    width: 95%;
    font-size: 18px;
    margin: auto;
    padding: 10px 30px;
}

/* GRID AESTHETIC */
.brgrid {
    background-color: #f4f1e9;
    width: 300px;
    border: 5px solid #688f4e;
    padding: 50px;
    margin: 20px;
    position: absolute;
}

.brgrid:hover {
    background-color: #b1d182;
    color: #f4f1e9;
    width: 300px;
    border: 5px solid #688f4e;
}

.cat_image {
    margin: 0% 25% 0%;
    width: 50%;
    height: 25%;
    border-radius: 10px;
    border: 5px double gray;
}

.cat_information {
    display: grid;
    justify-content: center;
}


/* CAT  GRID LAYOUT */

.content {
    padding-top: 0%;
    padding-left: 0%;
}

.clmn {
    overflow: hidden;
    margin: 10px;
    position: relative;
    flex: 30%;
    height: 300px;
    object-fit: contain;
}

.clmnShadow {
    box-shadow: 0 2px 4px 0 rgba(43, 70, 60, 0.5), 0 3px 10px 0 rgba(43, 70, 60, 0.5);

}

.clmn img {
    display: block;
    max-width: 100%;
    max-height: 70%;
}

.imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}