html,
body {
    margin: auto;
}

* {
    font-family: 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

footer {
    background-color: #688f4e;
    color: #f4f1e9;
    padding: 10px;
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 75px;
    font-weight: bold;
    letter-spacing: -1px;
    color: #2b463c;
}

#stdntID {
    font-weight: bold;
}

#wrapper {
    font-family: helvetica, sans-serif;
    width: 95%;
    font-size: 18px;
    margin: auto;
    padding: 10px 30px;
}

.brgrid {
    background-color: #f4f1e9;
    width: 300px;
    border: 5px solid #688f4e;
    padding: 50px;
    margin: 20px;
    position: absolute;
}

.brgrid:hover {
    background-color: #b1d182;
    color: #f4f1e9;
    width: 300px;
    border: 5px solid #688f4e;
    padding: 50px;
    margin: 20px;
}

.cat_image {
    margin: 0% 25% 0%;
    width: 50%;
    height: 25%;
    border-radius: 10px;
    border: 5px double gray;
}

.cat_information {
    display: grid;
    justify-content: center;
}


/* CAT PICTURE GRID*/

.content {
    padding-top: 0%;
    padding-left: 0%;
}

.clmn {
    overflow: hidden;
    margin: 10px;
    position: relative;
    flex: 30%;
    height: 300px;
    object-fit: contain;
}

.clmnShadow {
    box-shadow: 0 2px 4px 0 rgba(43, 70, 60, 0.5), 0 3px 10px 0 rgba(43, 70, 60, 0.5);

}

.clmn img {
    display: block;
    max-width: 100%;
    max-height: 70%;
}

.imgrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}